@alexczech:registry=https://registry.npmjs.org/alexczech

# disabled auto-installing peer dependencies
legacy-peer-deps=true

# for specify Node, NPM Version to use
engine-strict=true

tag-version-prefix=""

//registry.npmjs.org/:_authToken=${NPM_REGISTRY_TOKEN}
